# Simple echo server values for: test cluster

replicaCount: 1

message: "Hello from simple-echo-server on test cluster!"

resources:
  limits:
    cpu: 50m
    memory: 64Mi
  requests:
    cpu: 25m
    memory: 32Mi

